<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vinepair.com/wp-content/uploads/2016/11/cocktailsubs-internal-header.jpg);">
  <div class="container">
    <h1>Recipes for Cocktails</h1>
    <p></p>
  </div>
</div>

<div class="container my-3 col-sm-6 col-sm-offset-3">
  <%= link_to "➕ Add a cocktail", new_cocktail_path, class: "text-body" %>

  <% @cocktails.each do |cocktail| %>
  <div class="row row-cols-1 row-cols-md-3 mt-2">
    <div class="col mb-4">
      <div class="card">
        <img src="https://www.oliviascuisine.com/wp-content/uploads/2016/06/Bourbon-Old-Fashioned-Hero-4.jpg" class="card-img-top" alt="Cocktail_image">
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-body font-weight-bold" %></h5>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>








